<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.4/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function () {
            socket.emit('connected', {data: 'I\'m connected!'});
        });
        socket.on('response', function (msg) {
            window.console && console.log(msg);
            $("#exportValueDiv").append('<p>' + msg + '</p>');

        })
    </script>
    <title>NE2 Collector</title>

</head>
<body>

<div class="container">
    <div class="col-sm">
        <h1>Hello, dit wordt onze collector pagina!</h1>

        <!-- {{ all_packets }} raw data -->
    </div>
</div>


<div class="container">
    <form action="/" method="post">
        <div class="row">
            <div class="col-sm">
                <h5><strong>Select Protocol</strong></h5>

                <div class="checkbox">
                    <label><input type="checkbox" name="protocol_tcp"> TCP</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="protocol_udp"> UDP</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" name="protocol_icmp"> ICMP</label>
                </div>
            </div>
            <div class="col-sm">
                <h5><strong>Select Time</strong></h5>
                <p><input type="datetime-local" name="start_time" value={{ now }}>
                    = Start-time
                </p>
                <p><input type="datetime-local" name="end_time" value={{ now }}>
                    = End-time
                </p>

            </div>
            <div class="col-sm">
                <br>
                <p>Select your filter settings</p>
                <p><input type="submit" value="Filter"></p>

                <button value="Refresh Page" onClick="window.location.reload()">Reset</button>
            </div>
        </div>
    </form>
</div>

{% if filter_result %}
<div class="container">
    <div class="col-sm">
        <h3>Filter results</h3>
        <table cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="1" width="100%">
                        <tr style="color:white;background-color:black">
                            <th width="20%">Protocol</th>
                            <th width="20%">Address</th>
                            <th width="20%">Bytes</th>
                            <th width="20%">Packets</th>
                            <th width="20%">Date</th>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="width:100%; height:300px; overflow:auto;">
                        <table cellspacing="0" cellpadding="1" width="100%">
                            {% for row in filter_result %}
                            <tr>
                                <td width="20%"> {{ row[0] }}</td>
                                <td width="20%"> {{ row[1] }}</td>
                                <td width="20%"> {{ row[2] }}</td>
                                <td width="20%"> {{ row[3] }}</td>
                                <td width="20%"> {{ row[4] }}</td>
                            </tr>
                            {% endfor %}
                        </table>

                    </div>
    </div>
    </td>
    </tr>
    </table>
</div>
</div>
{% endif %}

<br>
    {% if all_packets %}
    <div class="container">
        <div class="col-sm">
            <h3>Live view</h3>
            <table cellspacing="0" cellpadding="0" width="100%">
                <tr>
                    <td>
                        <table cellspacing="0" cellpadding="1" width="100%">
                            <tr style="color:white;background-color:black">
                                <th width="20%">Protocol</th>
                                <th width="20%">Address</th>
                                <th width="20%">Bytes</th>
                                <th width="20%">Packets</th>
                                <th width="20%">Date</th>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="width:100%; height: 500px; overflow:auto;">
                            <table cellspacing="0" cellpadding="1" width="100%">
                                {% for row in all_packets %}
                                <tr>
                                    <td width="20%"> {{ row[0] }}</td>
                                    <td width="20%"> {{ row[1] }}</td>
                                    <td width="20%"> {{ row[2] }}</td>
                                    <td width="20%"> {{ row[3] }}</td>
                                    <td width="20%"> {{ row[4] }}</td>
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    {% endif %}


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</body>
</html>